commitAndPush.bat
commit.bat
push.bat

apps/blinkr/commitAndPush.bat
apps/blinkr/commit.bat
apps/blinkr/push.bat

apps/blinkr-search/commitAndPush.bat
apps/blinkr-search/commit.bat
apps/blinkr-search/push.bat

apps/relay/commitAndPush.bat
apps/relay/commit.bat
apps/relay/push.bat

node_modules/*
docs/*.md
package-lock.json
tasks.txt
links.json
node_modules
compile.js
package-lock.json

node_modules/*
askiimon-web/docs/*.md
package-lock.json
tasks.txt
links.json
node_modules
compile.js
package-lock.json