commitAndPush.bat
commit.bat
push.bat

apps/blinkr/commitAndPush.bat
apps/blinkr/commit.bat
apps/blinkr/push.bat

apps/blinkr-search/commitAndPush.bat
apps/blinkr-search/commit.bat
apps/blinkr-search/push.bat
apps/blinkr-search/db

apps/relay/commitAndPush.bat
apps/relay/commit.bat
apps/relay/push.bat